@media (max-width: 980px) {
    .content .card-main img {
        width: 100%;
    }

    .content .card-main .line-one .line-one-b,
    .content .card-main .line-one .line-two-b,
    .content .card-main .line-one .line-three-b{
    padding: 0 1rem;
    }

    .content .card-main{
        width: 90%;
    }
}

@media (max-width: 680px) {
    .content{
        overflow: auto;
    }

    .content .card-main .line-one {
        flex-direction: column;
    }

    .content .card-main .line-one .line-one-b,
    .content .card-main .line-one .line-two-b,
    .content .card-main .line-one .line-three-b{
    padding: 3rem 0;
    }
}